<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <a href="/home" title="Home">Home</a>
  <h2>Admin</h2>
  <a href="/admin" title="Admin">Admin</a>
  <h2>AuthCenter</h2>
  <a href="/auth_center" title="AuthCenter">AuthCenter</a>
  <h2>Tools</h2>
  <h3>GenerationTOTP</h3>
  <a href="/tool/generation_TOTP" title="GenerationTOTP">GenerationTOTP</a>
  <h2>Static</h2>
  <a href="/static" title="Static">Static</a>
</body>
</html>