<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>generation</title>
  <style>
  * {
    margin: 0;
    padding: 0;
  }
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>
</head>
<body>
  <p>Hello</p>
  <br>
  <p>use default issure and account name: {{ .UseDefaultIssureAndDefaultAccountName }}</p>
  <br>
  <p>issuer: {{ .Issure }}</p>
  <p>account name: {{ .AccountName }}</p>
  your secret is: {{ .Secret }}
  <br>
  <img src="{{ .SecretPngBase64 }}">
  <br>
  <br>
  <button onclick="location.reload(true)">Regeneration</button>
</body>
</html>